@using MudBlazor
<div class="flex-center">
	<MudContainer>
		@ChildContent
	</MudContainer>
	<MudContainer Class="flex-center">
		<MudLink Href="@NavRef.Site.About" Underline="Underline.None">About</MudLink>
		<MudLink Href="@NavRef.Site.Policy" Underline="Underline.None">Policy</MudLink>
		<MudLink Href="@NavRef.Site.Contact" Underline="Underline.None">Contact</MudLink>
		<MudLink Href="@NavRef.Site.Faq" Underline="Underline.None">FAQ</MudLink>
		<MudLink Href="@NavRef.Site.Support" Underline="Underline.None">Support</MudLink>
	</MudContainer>
</div>