@page "/Manual/Language/Create"
@page "/Manual/Language/C"
@inherits RequestComponent<EpochApp.Shared.Services.LangOptions>

<FlatTypo Typo="Typo.Heading3" Color="FlatColor.Info">Create Language</FlatTypo>
<EditForm Model="@Model" OnSubmit="@(async ctx => await SubmitOptionsAsync(ctx))">
	<FlatTextInput @bind-Value="@Model.LangName" Required="true" Placeholder="Language Name" Label="Language Name" />
	<FlatTextInput @bind-Value="@Model.Pronunciation" Placeholder="Pronunciation" Label="Pronunciation" />
	<div>
		<FlatTypo Typo="Typo.Heading5" Color="FlatColor.Info">Phonology Options</FlatTypo>
		<FlatTextInput @bind-Value="@Model.Phonology.Consonants" Label="Consonants" Placeholder="Consonants" />
		<FlatTextInput @bind-Value="@Model.Phonology.Vowels" Label="Vowels" Placeholder="Consonants" />
	</div>
	<FlatButton ButtonType="ButtonType.Submit">Create Language!</FlatButton>
</EditForm>