@page "/User/Profile"
@namespace EpochApp.Client.Pages.User
@inherits RequestComponent<EpochApp.Shared.Users.Profile>

<PageTitle>@StaticUtils.Constants.AppName - @Auth.CurrentUser's Profile</PageTitle>

@if (_profile is null || _loading)
{
	<div class="flex-grow-1 flex-center">
		<FlatProgress Type="ProgressType.Dots" ElementSize="ElementSize.Huge" Color="FlatColor.Orange" />
	</div>
}
else
{
	<FlatTypo Typo="Typo.Heading2">@(_profile.FirstName) @(_profile.LastName)</FlatTypo>
	<img src="@_profile.AvatarImg" alt="Avatar">
	<img src="@_profile.CoverImg" alt="Cover Image">
	<FlatTypo>@_profile.Bio</FlatTypo>
	<FlatTypo Inline="true">
		<FlatTypo Typo="Typo.Body2">Signature:</FlatTypo> @_profile.Signature
	</FlatTypo>
	<FlatElement HtmlTag="a" href="@_profile.WebAddress" target="_blank">@_profile.WebAddress</FlatElement>

	<FlatTypo Typo="Typo.Heading4" Color="FlatColor.Purple" Text="Social Profiles"></FlatTypo>
	<FlatBreak />
	@foreach (var social in _profile.Socials)
	{
		<p>@social.Social.SocialMediaName: @($"{social.Social.URLAffix}/{social.SocialHandle}")</p>// Replace these based on the properties available in your UserSocial model
	}
}