@using AlignItems=MudBlazor.AlignItems
@using Justify=MudBlazor.Justify
@using Typo=MudBlazor.Typo
@using MudBlazor
<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(App).Assembly">

		<!-- ROUTE FOUND -->
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
				<NotAuthorized>
					<div class="alert style-warning-light" role="alert">
						<p>Not authorized to view this content!</p>
					</div>
				</NotAuthorized>
				<Authorizing>
					<MudContainer>
						<MudStack AlignItems="AlignItems.Center" Justify="Justify.Center">
							<MudText Typo="Typo.h4" Color="Color.Warning" Align="Align.Center">Authentication in progress...</MudText>
							<MudProgressCircular Indeterminate="true" Color="Color.Warning" Size="Size.Large" />
						</MudStack>
					</MudContainer>
				</Authorizing>
			</AuthorizeRouteView>
			<FocusOnNavigate RouteData="@routeData" Selector="h1" />
		</Found>

		<!-- NOT FOUND -->
		<NotFound>
			<PageTitle>Not found</PageTitle>
			<LayoutView Layout="@typeof(MainLayout)">
				<div class="alert style-warning-light" role="alert">
					<p>Sorry, there's nothing at this address.</p>
				</div>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>