@page "/"

<PageTitle>@StaticUtils.Constants.AppName Home</PageTitle>

<EditForm Model="@_testModel" OnSubmit="@(e => RefreshData(e))">
	<DataAnnotationsValidator />
	<FlatTextInput Inline="true" Required="true" @bind-Value="@_testModel.TextData" Label="A test Label" />
	<FlatNumericInput TData="decimal" Inline="true" InputType="InputType.Number" Required="true" @bind-Value="@_testModel.DecimalData" Label="A decimal Label" />
	<FlatNumericInput TData="int" Inline="true" InputType="InputType.Number" Required="true" @bind-Value="@_testModel.IntData" Label="An int Label" />
	<FlatDateInput TDateTime="DateTime" Inline="true" Type="InputDateType.Date" @bind-Value="@_testModel.DateData" Label="A date Label" />
	<FlatSwitchInput Inline="true" Required="true" @bind-Value="@_testModel.BoolData" Label="A bool Label" />
	<FlatSelectInput TValue="string" Inline="true" Required="true" @bind-Value="@_testModel.SelectData" Label="A select Label">
		<FlatOption Value="1">Option 1</FlatOption>
		<FlatOption Value="2">Option 2</FlatOption>
		<FlatOption Value="3">Option 3</FlatOption>
	</FlatSelectInput>
	<FlatButton Edge="EdgeType.RoundLg" ButtonType="ButtonType.Submit">Submit</FlatButton>
</EditForm>

<p>@_testModel.TextData</p>