@page "/"

<PageTitle>@StaticUtils.Constants.AppName Home</PageTitle>

<h3>Browser Storage Test</h3>
<EditForm Model="@_dataStore">
	<label for="key">
		Key
	</label>
	<FlatYesNoField YesNoType="YesNoType.Checkbox" @bind-Value="@_dataStore.BoolVal" id="key" />
	<label>
		Value
		<FlatTextField InputMode="InputType.Text" @bind-Value="@_dataStore.Value" />
	</label>
	<button class="button" @onclick="@(async () => await SetValueAsync())" type="button">Set Value</button>
</EditForm>
<div>Stored Value: @StoredValue</div>

<div>
	<button type="button" class="button" @onclick="@(async () => await GetValueAsync())">Get Value</button>
	<button type="button" class="button" @onclick="@(async () => await RemoveAsync())">Remove Value</button>
	<button type="button" class="button" @onclick="@(async () => await ClearAllAsync())">Clear Value</button>
</div>
<br />
<FlatCard HeadingText="This is heading text" MaxWidth="400" CardSize="Size.Large" Edge="EdgeType.Triangle">
	<CardContent>
		Here is some card content...
	</CardContent>
	<CardButtons>
		<FlatButton>Card Button</FlatButton>
	</CardButtons>
</FlatCard>