@page "/"
@using EpochApp.Shared.Utils

<PageTitle>@StaticUtils.Constants.AppName Home</PageTitle>

<h3>Browser Storage Test</h3>
<EditForm Model="@_dataStore">
	<label for="key">
		Key
	</label>
	@* <FlatYesNoField YesNoType="YesNoType.Checkbox" @bind-Value="@_dataStore.BoolVal" id="key" /> *@
	<FlatYesNoField YesNoType="YesNoType.SelectList" @bind-Value="@_dataStore.BoolVal" id="key" />
	<FlatYesNoField YesNoType="YesNoType.Switch" @bind-Value="@_dataStore.BoolVal" id="key" />
	<FlatTextField InputMode="InputType.Text" LineCount="2" Floating="true" @bind-Value="@_dataStore.Value" Label="Value" Placeholder="Value" Id="Val" Required="true" />
	<FlatButton OnClick="@(async () => await SetValueAsync())" Type="ButtonType.Button">Set Value</FlatButton>
</EditForm>
<h4>Stored Value: <b>@StoredValue</b></h4>

<FlatButtonGroup Vertical="@(true)">
	<FlatButton Type="ButtonType.Button" OnClick="@(async () => await GetValueAsync())">Get Value</FlatButton>
	<FlatButton Type="ButtonType.Button" OnClick="@(async () => await RemoveAsync())">Remove Value</FlatButton>
	<FlatButton Type="ButtonType.Button" OnClick="@(async () => await ClearAllAsync())">Clear Value</FlatButton>
</FlatButtonGroup>