@page "/"

<PageTitle>@StaticUtils.Constants.AppName Home</PageTitle>

<h3>Browser Storage Test</h3>
<EditForm Model="@_dataStore">
	<label for="key">
		Key
	</label>
	<FlatYesNoField YesNoType="YesNoType.Checkbox" @bind-Value="@_dataStore.BoolVal" id="key" />
	<label>
		Value
		<FlatTextField InputMode="InputType.Text" @bind-Value="@_dataStore.Value" />
	</label>
	<FlatButton OnClick="@(async () => await SetValueAsync())" Type="ButtonType.Button">Set Value</FlatButton>
</EditForm>
<h4>Stored Value: <b>@StoredValue</b></h4>

<ButtonGroup Vertical="@(true)">
	<FlatButton Type="ButtonType.Button" OnClick="@(async () => await GetValueAsync())">Get Value</FlatButton>
	<FlatButton Type="ButtonType.Button" OnClick="@(async () => await RemoveAsync())">Remove Value</FlatButton>
	<FlatButton Type="ButtonType.Button" OnClick="@(async () => await ClearAllAsync())">Clear Value</FlatButton>
</ButtonGroup>
<hr />
<FlatCard HeadingText="This is heading text" MaxWidth="400" CardSize="Size.Large" Edge="EdgeType.Triangle">
	<CardContent>
		Here is some card content...
	</CardContent>
	<CardButtons>
		<FlatButton>Card Button</FlatButton>
	</CardButtons>
</FlatCard>