@inherits InputBase<String>

@if (!string.IsNullOrEmpty(Label) && !Floating)
{
	<label for="@For" class="@("form-label " + (Inline ? "inline" : ""))">@Label</label>
}
<div class="@("input-wrapper " + (Floating ? "floating-label" : ""))">
	@if (Floating)
	{
		<input @bind="@CurrentValue" id="@For" @attributes="@AdditionalAttributes" />
	}
	@if (!string.IsNullOrEmpty(Label) && Floating)
	{
		<label for="@For" class="@("form-label " + (Inline ? "inline" : ""))">@Label</label>
	}
	@if (!Floating)
	{
		<input @bind="@CurrentValue" id="@For" @attributes="@AdditionalAttributes" />
	}
	@if (ChildContent != null)
	{
		@ChildContent
	}
</div>